@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1280px;
}

.container {
    position: relative;
}

table {
    width: calc(100% - 2rem);
}